{% load extra_tags %}
{% load static %}

<!DOCTYPE html>
<html lang=ru>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>dvfu lms</title>
</head>
<body>
<noscript>
    <strong>
        We're sorry but lms doesn't work properly without JavaScript enabled.
        Please enable it to continue.
    </strong>
</noscript>
<div id=app></div>
{% hmr_script "src/main.ts" %}
{% hmr_script "js/chunk-vendors.js" %}
{% if not is_debug %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chunk-vendors.css' %}">
{% endif %}
</body>
</html>
