<!DOCTYPE html>
<html lang="">
<link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
<body>
<div class = "content">
    <h1>Login page</h1>
    <br>
    <form action="." method="post">
        <table class="bx--data-table  bx--data-table--tall  " >
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <p><input type="submit" value="Login"></p>
    </form>
</div>
</body>
<style>

    .content{
        width: 250px;
        height: 250px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
</style>
</html>