.main-title {
    margin-top: var(--cds-spacing-01);
    margin-bottom: var(--cds-spacing-06);
    margin-left: var(--cds-spacing-05);
}

.header-container {
    display: flex;
    flex-flow: column;

    .course-description {
        padding-left: var(--cds-spacing-05);
    }
}
