$feature-flags: (
    enable-css-custom-properties: true,
);

@import '~carbon-components/css/carbon-components.css';
@import '~carbon-components/scss/globals/scss/styles';
$carbon--theme: $carbon--theme--white;
@include carbon--theme($carbon--theme);


:root {
    @include carbon--theme($carbon--theme, true);
    @include carbon--colors();
}
