.list-element
    padding-top var(--cds-spacing-05)
    padding-bottom var(--cds-spacing-05)
    padding-left var(--cds-spacing-05)
    display flex
    flex-flow column
    text-decoration none
    color var(--cds-color-01)

.list-element:hover
    background-color #f4f4f4
