[Unit]
Description=BuildBot production-build worker service
After=network.target

[Service]
User=buildbot
Group=buildbot
WorkingDirectory=/home/buildbot/bb-lms/worker-production
ExecStart=/home/buildbot/bb-lms/venv/bin/buildbot-worker start --nodaemon
Environment="PATH=/home/buildbot/bb-lms/venv/bin:/usr/bin"


[Install]
WantedBy=buildbot-master.service

